<p>address-card works!</p>
<div class="address">
    <p class="name">{{user.name}}</p>
    <p class="title">{{user.designation}}</p>
    <button (click)="isItCollapse()"> Expand / Collaps </button>
    <div *ngIf="isCollapse">
        <div *ngIf = "user.address.length">
            <p>Address:</p>
            <p class="itselfAdress" *ngFor = "let usersAddress of user.address">{{usersAddress}}</p>
        </div>
        <div class="phone">
            <p>Phone:</p>
        <strong>{{user.phone}}</strong>
        </div>
    </div>
</div>